<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <appSettings>
    <add key="AppName" value="TsigApp"/>
    <add key="AppDisplayName" value="Tsig - Id Generator Application"/>
    
    <add key="NanycyEndpointSchema" value="http" />
    <add key="NanycyEndpointDomain" value="localhost" />
    <add key="NanycyEndpointPort" value="8111" />
    <add key="NanycyEndpointPath" value="tsig/" />
    <add key="NancyEndpointApiKey" value="4E1B875F-E091-4510-81DD-9334FBE98FDC" />

    <add key="IdGenGeneratorId" value="1"/>
    <add key="IdGenEposhUtc" value="2019,01,01,00,00,00"/>
    <add key="IdGenMaskConfig" value="42,7,14"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.3.0" newVersion="4.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>