<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <!-- Using the colored console as my target-->
    <target xsi:type="ColoredConsole" name="colored_console" layout="${message} ${exception:format=tostring}"/>
    <target name="file" xsi:type="File"
            archiveAboveSize="1024000"
            maxArchiveFiles="10"
            fileName="${basedir}/Logs/log.${longdate:cached=true}.log"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Writing everything to the cololred console -->
    <logger name="*" minlevel="Trace" writeTo="colored_console"/>
    <logger name="*" minlevel="Info" writeTo="file"/>
  </rules>
</nlog>